kpk_game.db         # Ігнорувати файл бази даних SQLite
__pycache__/        # Ігнорувати кеш Python
*.pyc               # Ігнорувати скомпільовані файли Python
.env                # Ігнорувати файл змінних середовища, якщо ви його використовуєте
.DS_Store           # Ігнорувати системні файли macOS
venv/               # Ігнорувати папку віртуального середовища, якщо вона у вас в корені